{
    "stats": {
        "acrobatics": 10,
        "strength": 10,
        "dexterity": 10,
        "constitution": 10,
        "intelligence": 10,
        "wisdom": 10,
        "charisma": 10,
        "health_points": 10,
        "armor_class": 10,
        "armor_class_touch": 10,
        "armor_class_flat_footed": 10,
        "initiative": 10,
        "combat_maneuver_bonus": 10,
        "combat_maneuver_defense": 10,
        "base_attack_bonus": 10,
        "speed": 10,
        "spell_resistance": 10,
        "fortitude": 10,
        "reflex": 10,
        "will": 10,
        "appraise": 10,
        "bluff": 10,
        "climb": 10,
        "craft_1": 10,
        "diplomacy": 10,
        "disable_device": 10,
        "disguise": 10,
        "escape_artist": 10,
        "fly": 10,
        "handle_animal": 10,
        "heal": 10,
        "intimidate": 10,
        "knowledge_arcana": 10,
        "knowledge_dungeoneering": 10,
        "knowledge_engineering": 10,
        "knowledge_geography": 10,
        "knowledge_history": 10,
        "knowledge_local": 10,
        "knowledge_nature": 10,
        "knowledge_nobility": 10,
        "knowledge_planes": 10,
        "knowledge_religion": 10,
        "linguistics": 10,
        "perception": 10,
        "perform_1": 10,
        "profession_1": 10,
        "ride": 10,
        "sense_motive": 10,
        "sleight_of_hand": 10,
        "spellcraft": 10,
        "stealth": 10,
        "survival": 10,
        "swim": 10,
        "use_magic_device": 10
    },
}